/*=======================================================
    Andrea and Diego Wedding Theme
========================================================= */

/* --- CSS Variables --- */
:root {
    --bg-primary: rgb(20, 18, 16);
}


body {
    background-color: var(--bg-primary);
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 2rem;
}